<div class="container">
    <label for="startDate">Start date</label><input type="date" name="startDate" id="startDate"[(ngModel)] = "startDate"/>
    <label for="endDate">End date</label><input type="date" name="endDate" id="endDate" [(ngModel)] = "endDate"/>
    <button (click)="searchByDates()">search</button>
    <table >
        <tr>
          <th>User</th>
          <th>Team left</th>
          <th>Team Joined</th>
          <th>Date</th>
        </tr>
        <tr *ngFor="let item of history">
          <td >{{item.user != null ? item.user.name : "" }}</td>
          <td>{{item.oldTeamObj.name}}</td>
          <td>{{item.newTeamObj.name}}</td>
          <td>{{item.date}}</td>
        </tr>
      </table>
      <button class="cancel_button" (click)="onCancel()">cencel</button>
</div>