<div style="display:flex; justify-content:center;">
    <h1>Operations</h1> 
</div>
<div class="container" *ngIf="action==''">    
    <div class="card" *ngFor="let item of crud_options" (click)="render_action(item.action)">
        <h1>{{item.name}}</h1>
    </div>
</div>

<app-move-user *ngIf="action == 'move'" (cancel)="cancel_action()"></app-move-user>

<app-view-history *ngIf="action == 'list'" (cancel)="cancel_action()"></app-view-history>

<app-view-history-dates *ngIf="action == 'list_dates'" (cancel)="cancel_action()"></app-view-history-dates>

<app-view-history-user *ngIf="action == 'list_user'" (cancel)="cancel_action()"></app-view-history-user>

<app-view-history-team *ngIf="action == 'list_team'" (cancel)="cancel_action()"></app-view-history-team>