<div class="container">
    <div class="left">
        <h1>{{profile.name}}</h1>
    </div>

    <div class="center">
        <div style="width:50%;">
            <p>email:{{profile.email}}</p>
            <p>C.V: </p>
            <p>nivel de ingles: </p>
        </div>
        <div style="width:50%;">
            <p>Conocimientos tecnicos:</p>
            <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque unde iste deserunt, deleniti eligendi vel magni fugiat pariatur laudantium eius ipsum quod itaque vero qui saepe. Praesentium minima ratione vel!
            </p>
        </div>
    </div>
</div>