<div class="container">
    <select name="userId" id="userId" [(ngModel)] = "selectedUser" >
        <option value="{{user.userId}}" *ngFor="let user of users" >{{user.name}}</option>
    </select>
    <button (click)="searchByUser()">search</button>
    <table >
        <tr>
          <th>User</th>
          <th>Team left</th>
          <th>Team Joined</th>
          <th>Date</th>
        </tr>
        <tr *ngFor="let item of history">
          <td >{{item.user != null ? item.user.name : "" }}</td>
          <td>{{item.oldTeamObj.name}}</td>
          <td>{{item.newTeamObj.name}}</td>
          <td>{{item.date}}</td>
        </tr>
      </table>
      <button class="cancel_button" (click)="onCancel()">cencel</button>
</div>